[Desktop Entry]
Version=1.0
Type=Application
Name=Homestar Runner
Comment=Open Homestar Runner in Chromium at 70 percent scale
Exec=chromium --force-device-scale-factor=0.7 https://homestarrunner.com/
Icon=/home/frost/.local/share/icons/homestar-runner.png
Terminal=false
Categories=Network;WebBrowser;
StartupNotify=true
